{% extends 'base.html' %}

{% block content %}

<h1>New Post</h1>

<form method="POST">
    <div class = "form-group">
        <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" placeholder="Title"><br><br>
        <label for="content">Content:</label><br>
            <textarea id="content" name="content" placeholder="Write Your Post Here!"></textarea><br><br>
        <div class="form-check">
            <label for="tags">Add Tags:</label>
            <br>
                {% for tag in tag %}
                <input type="checkbox" class="form-check-input"
                value="{{ tag.id }}" id="tag_{{ tag.id }}"
                name="tags">
                <label class="form-check-label">{{ tag.name }}</label>
                <br>
                {% endfor %}
        </div>
        <input type="submit" value="Submit">
        <button>Cancel</button>
    </div>
</form>

{% endblock %}

