{% extends 'base.html' %}

{% block content %}

<p>Edit your profile</p>

<div class="form">
    <form method="POST">
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name" placeholder="First Name"><br><br>
        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name" placeholder="Last Name"><br><br>
        <label for="img_url">Image URL:</label><br>
        <input type="text" id="img_url" name="img_url" placeholder="Link to your profile image"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

<button>Cancel</button>
{% endblock %}