{% extends 'base.html' %}

{% block content %}

<h1>Welcome To Blogly!</h1>
<h2>The best blogging app! It's the cats MEOW!</h2>
<br><br>

<div class = "container">
    <div class= "row">
        <div class="col-sm bg-dark text-white mr-md-2">
            <h3>Check Out Posts By Some Of Our Users!</h3>
                <ul>
                    {% for user in new_users %}
                    <li><a href="/users/{{user.id}}">{{ user.first_name }} {{ user.last_name }}</a></li>
                    {% endfor %}
                </ul>
                <a href="/users">Check out our list of users</a>
        </div>
        <div class="col-sm bg-dark text-white mr-md-2">
            <h3>Latest Posts:</h3>
                <ul>
                    {% for post in new_posts %}
                    <li><a href="/posts/{{post.id}}">{{ post.title}}</a></li>
                    {% endfor %}
                </ul>
        </div>
        <div class="col-sm bg-dark text-white mr-md-2">
            <h3>Popular Tags</h3>
                <ul>
                    {% for tag in tags %}
                    <li><a href="/tags/{{tag.id}}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
                <a href="/tags">Browse all our tags</a>
        </div>
    </div>
</div>


{% endblock %}