{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1>{{ post.title }}</h1>
    <h3><i>By {{ post.user.first_name }} {{ post.user.last_name}}</i></h3>
    <br>
    <p>{{ post.content }}</p>
    <p>
        Tags: {% for tag in  post.tags %}
            <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
        {% endfor %}
    </p>
    <p><a href="/users/{{ post.user.id }}">Read more posts by {{ post.user.first_name }} {{ post.user.last_name}}</a></p>
    <div class="row">
        <form action='/posts/{{post.id}}/add_tags'>
            <button type="submit" class="btn btn-info">Add Tags!</button>
        </form>

        <form action='/posts/{{post.id}}/edit'>
            <button type="submit" class="btn btn-primary">Edit This Post</button>
        </form>

        <form action='/posts/{{post.id}}/delete'>
            <button type="submit" class="btn btn-danger">Delete This Post</button>
        </form>
    </div>
</div>
{% endblock %}