{% extends 'base.html' %}

{% block content %}

<h1>Add Tags to "{{ post.title }}"</h1>

<!-- {% for tag in tags %}
<p>{{ tag.name }}</p>
{% endfor %} -->

<div class="form">
    <form method="POST">
        <div class="form-check">
            <label for="tags">Add Tags:</label>
            <br>
                {% for tag in tag %}
                    <input type="checkbox" class="form-check-input"
                    value="{{ tag.id }}" id="tag_{{ tag.id }}"
                    {% if tag in post.tags %}checked{% endif %}
                    name="tags">
                    <label class="form-check-label">{{ tag.name }}</label>
                    <br>
                {% endfor %}
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}