{% extends 'base.html' %}

{% block content %}

<h1>Posts Containing {{ tag.name }}</h1>

<div class="container">
    <div class="row">
        <ul class="list-group list-group-flush">
            {% for post in tag.posts %}
                <l1 class="list-group-item">
                    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                </l1>
            {% endfor %}
        </ul>
    </div>
</div>

<form action="/tags/{{tag.id}}/edit">
    <button>Edit This Tag</button>
</form>

<form action="/tags/{{tag.id}}/delete">
    <button>Delete This Tag</button>
</form>

{% endblock %}