{% extends 'base.html' %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<!-- <h2> {{ user.full_name  }}</h2> -->

<img src="{{ user.img_url }}">

<h2>Posts:</h2>
<ul>
    <!-- {% for post in posts %}
    <li></li>
    {% endfor %} -->
</ul>

<form action="/users/{{user.id}}/edit">
    <button>Edit Your Profile</button>
</form>

<form action="">
    <button>Create New Post</button>
</form>

<form action="/users/{{user.id}}/delete">
    <button>Delete Your Profile</button>
</form>

{% endblock %}