{% extends 'base.html' %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<!-- <h2> {{ user.full_name  }}</h2> -->

<div class = "container">
    <div class="row">
        <div class="col-sm">
            <img src="{{ user.img_url }}">
        </div>
        <div class="col-sm bg-dark text-white mr-md-2">
            <h2>Posts:</h2>
                <ul>
                    {% for post in user.posts %}
                    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                    <br>
                    <!-- <span>{{ post.content }}</span> -->
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>

<form action="/users/{{user.id}}/posts/new">
    <button type="submit" class="btn btn-success">Create A New Post</button>
</form>

<h2>Your Profile</h2>

<div class="container">
    <div class="row">
        <form action="/users/{{user.id}}/edit">
            <button type="submit" class="btn btn-primary">Edit Your Profile</button>
        </form>

        <form action="/users/{{user.id}}/delete">
            <button type="submit" class="btn btn-danger">Delete Your Profile</button>
        </form>
    </div>
</div>

{% endblock %}